<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <style>[v-cloak]{display: none;}</style>

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>

    <!-- luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js" defer></script>

    <!-- javascript -->
    <script src="script.js" defer></script>
</head>

<body>
    <div class="green-bar"></div>
    <div class="gray-bar"></div>
    <div class="main-section" id="app" v-cloak>
        <!-- LEFT SECTION -->
        <div class="left-section">
            <!-- USER -->
            <div class="user-section">
                <div class="user-info">
                    <img src="https://ca.slack-edge.com/T91QPE3BP-U040Z9DH6F9-e9e608763b3d-512">
                    <h4>Luigi Jr</h4>
                </div>
                <div class="user-icons">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <!-- NOTIFICATION -->
            <div class="notifications-section">
                <div class="bell">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div class="notifications-text">
                    <h4>Ricevi notifiche di nuovi messaggi</h4>
                    <span>Attiva notifiche desktop</span>
                </div>
            </div>
            <!-- SEARCH -->
            <div class="search-section">
                <button class="search-button" @click="searchContact"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" class="search-bar" v-model="research" @keyup="searchContact">
            </div>
            <!-- CHATLIST -->
            <div class="chatlist-section">

                <!-- CONTATTI -->
                <div v-for="(contact, i) in contacts" class="chatlist-contact" :class="{visible: contact.visible}" @click="selectedChat(i)">
                    <img :src="contact.avatar" class="contact-picture">
                    <div class="contact-info">
                        <h4 class="contact-name">{{ contact.name }}</h4>
                        <div class="contact-last-message" v-if="contact.messages.length != 0">{{ contact.messages[contact.messages.length - 1].message }}</div>
                    </div>
                    <span class="last-message-time" v-if="contact.messages.length != 0">{{ contact.messages[contact.messages.length - 1].time }}</span>
                </div>

            </div>
        </div>
        <!-- RIGHT SECTION -->
        <div class="right-section">
            <!-- RECEIVER -->
            <div class="receiver-section">
                <div class="receiver-info">
                    <img :src="contacts[currentChat].avatar">
                    <div class="receiver-info-text">
                        <h4>{{ contacts[currentChat].name }}</h4>
                        <!-- Cosi l'orario cambia in base all'ultimo messaggio ma non ha molto senso, soprattuto se non ci sono messaggi in chat -->
                        <span v-if="contacts[currentChat].messages.length != 0">Ultimo accesso alle ore {{ contacts[currentChat].messages[contacts[currentChat].messages.length - 1].time }}</span>
                        <!-- <span>Ultimo accesso alle ore 12:00</span> -->
                    </div>
                </div>
                <div class="user-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <!-- CHAT -->
            <div class="chat-section">

                <div v-for="(msg, idue) in contacts[currentChat].messages" :keys="msg.message" class="full-message">
                    <div class="generic-message" :class="{sentmessage: msg.status === 'sent', receivedmessage: msg.status === 'received'}">
                        <span class="message-text">{{ msg.message }}</span>
                        <span class="message-time">{{ msg.time }}</span>
                        <div class="message-menu-arrow" :class="{sentmenuarrow: msg.status === 'sent', receivedmenuarrow: msg.status === 'received'}" @click="openMenu(idue)"><i class="fa-solid fa-chevron-down"></i></div>
                        <div class="message-menu" :keys="msg.message" :class="{sentmenu: msg.status === 'sent', receivedmenu: msg.status === 'received', open: msg.window}">
                            <ul class="menu-options">
                                <li>Info Messaggio</li>
                                <li @click="deleteMsg(idue)">Cancella Messaggio</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- SENDING -->
            <div class="sending-section">
                <i class="fa-regular fa-face-smile"></i>
                <input type="text" class="sending-input" placeholder="Scrivi un messaggio" v-model="newMsg" @keyup.enter="sendMsg">
                <i class="fa-solid fa-microphone"></i>          
            </div>
        </div>

    </div>
</body>
</html>