<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous" defer></script> -->

    <!-- bootstrap icons -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"> -->

    <!-- css -->
    <link rel="stylesheet" href="style.css">

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>

    <!-- javascript -->
    <script src="script.js" defer></script>
</head>

<body>
    <div class="green-bar"></div>
    <div class="gray-bar"></div>
    <div class="main-section" id="app">
        <!-- LEFT SECTION -->
        <div class="left-section">
            <!-- USER -->
            <div class="user-section">
                <div class="user-info">
                    <img src="https://ca.slack-edge.com/T91QPE3BP-U040Z9DH6F9-e9e608763b3d-512">
                    <h4>Luigi Jr</h4>
                </div>
                <div class="user-icons">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <!-- NOTIFICATION -->
            <div class="notifications-section">
                <div class="bell">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div class="notifications-text">
                    <h4>Ricevi notifiche di nuovi messaggi</h4>
                    <span>Attiva notifiche desktop</span>
                </div>
            </div>
            <!-- SEARCH -->
            <div class="search-section">
                <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" class="search-bar" v-model="research" @keyup="searchContact">
            </div>
            <!-- CHATLIST -->
            <div class="chatlist-section">

                <!-- CONTATTI -->
                <div v-for="(contact, i) in contacts" class="chatlist-contact" :class="{visible: contact.visible}" @click="selectedChat(i)">
                    <img :src="contact.avatar" class="contact-picture">
                    <div class="contact-info">
                        <h4 class="contact-name">{{ contact.name }}</h4>
                        <div class="contact-last-message">{{ contact.messages[0].message }}</div>
                    </div>
                    <span class="last-message-time">16:00</span>
                </div>

            </div>
        </div>
        <!-- RIGHT SECTION -->
        <div class="right-section">
            <!-- RECEIVER -->
            <div class="receiver-section">
                <div class="receiver-info">
                    <img :src="contacts[currentChat].avatar">
                    <div class="receiver-info-text">
                        <h4>{{ contacts[currentChat].name }}</h4>
                        <span>Ultimo accesso alle ore 12:00</span>
                    </div>
                </div>
                <div class="user-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <!-- CHAT -->
            <div class="chat-section">

                <div v-for="msg in contacts[currentChat].messages" class="generic-message">
                    <div :class="{sentmessage: msg.status === 'sent', receivedmessage: msg.status === 'received'}">
                        <span class="message-text">{{ msg.message }}</span>
                        <span class="message-time">12:00</span>
                    </div>
                </div>

            </div>
            <!-- SENDING -->
            <div class="sending-section">
                <i class="fa-regular fa-face-smile"></i>
                <input type="text" class="sending-input" placeholder="Scrivi un messaggio" v-model="newMsg" @keyup.enter="sendMsg">
                <i class="fa-solid fa-microphone"></i>          
            </div>
        </div>

    </div>
</body>
</html>