*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* BASIC LAYOUT */
body{
    position: relative;
}
.green-bar{
    height: 15vh;
    width: 100%;
    background-color: #009688;
}
.gray-bar{
    height: 85vh;
    width: 100%;
    background-color: #dadbd4;
}
.main-section{
    width: 80%;
    height: 95%;
    background-color: white;
    position: absolute;
    top: 2.5%;
    left: 10%;
    display: flex;
}
.left-section{
    width: 35%;
    height: 100%;
}
.right-section{
    width: 65%;
    height: 100%;
    border-left: 1px solid #b1b1b1;
}

/* USER */
.user-section{
    width: 100%;
    height: 7%;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.user-info{
    height: 100%;
    display: flex;
    align-items: center;
}
.user-info img{
    border-radius: 50%;
    height: 80%;
    margin-right: .5rem;
}
.user-icons{
    height: 100%;
    display: flex;
    align-items: center;
}
.user-icons i{
    font-size: 1.5rem;
    margin: 0 .5rem;
    color: #b1b1b1;
}

/* NOTIFICATIONS */
.notifications-section{
    width: 100%;
    height: 10%;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}
.bell{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    margin: 0 1rem;
}
.notifications-text span{
    font-size: .9rem;
    color: #6994a3;
    text-decoration: underline;
}
.bell i{
    color: #8edafc;
    font-size: 1.5rem;
}

/* SEARCH */
.search-section{
    width: 100%;
    height: 5%;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
}
.search-button{
    background-color: white;
    width: 13%;
    height: 60%;
    margin-left: 2%;
    border: none;
}
.search-button:active{
    scale: .8;
}
.search-bar{
    background-color: white;
    border: none;
    width: 82%;
    height: 60%;
    margin-left: 1%;

}

/* CHATLIST */
.chatlist-section{
    width: 100%;
    height: 78%;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.chatlist-contact{
    min-height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    position: relative;
}
.contact-picture{
    border-radius: 50%;
    margin: 0 .5rem;
    height: 60px;
}
.contact-info{
    margin-bottom: 1rem;
    width: 75%;
}
.contact-last-message{
    font-size: .9rem;
    color: #6994a3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.last-message-time{
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: .9rem;
    color: #6994a3;
}

/* RECEIVER */
.receiver-section{
    width: 100%;
    height: 7%;
    background-color: #eaeaea;
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
}
.receiver-info{
    height: 100%;
    display: flex;
    align-items: center;
}
.receiver-info img{
    border-radius: 50%;
    height: 80%;
    margin-right: .5rem;
}
.receiver-info-text span{
    font-size: .9rem;
    color: #6994a3;
}
/* CHAT */
.chat-section{
    width: 100%;
    height: 86%;
    background-color: #e3dcd3;
    overflow-y: scroll;
}
.generic-message{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sent-message{
    border-radius: 10px;
    padding: .5rem .5rem .2rem .5rem;
    background-color: #d5f9ba;
    width: fit-content;
    max-width: 80%;
    margin: 0 2rem 0 auto;
    display: flex;
    flex-direction: column;
}
.received-message{
    border-radius: 10px;
    padding: .5rem .5rem .2rem .5rem;
    background-color: white;
    width: fit-content;
    max-width: 80%;
    margin: 0 auto 0 2rem;
    display: flex;
    flex-direction: column;
}
.message-time{
    font-size: .7rem;
    color: #6994a3;
    margin-left: 5rem;
    align-self: flex-end;
    
}
/* SENDING   */
.sending-section{
    width: 100%;
    height: 7%;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
}
.sending-section i{
    font-size: 1.5rem;
    color: #6b747a;
}
.sending-input{
    width: 80%;
    height: 70%;
    background-color: white;
    border-radius: 5px;
    border: none;
    padding-left: 1rem;
}
